
html,body {
  font-family: 'Plus Jakarta Sans', sans-serif;

  height: 100vh;
  width: 100vw;
}


.App {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  


}

.backg {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('https://source.unsplash.com/random/1920x1080');
  filter: blur(1px);
  -webkit-filter: blur(4px);
  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */

  background-repeat: no-repeat;
  background-size:auto;
}

header {
  position: absolute;
  z-index: 5;
  width: 100vw;
  text-align: center;
  font-weight: 400;
  font-size: xx-large;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 20px black;
  
}

h1 {

  color: white;
  text-shadow: 4px 4px 4px rgb(24, 24, 24) ;
  font-size: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 80vw;
  min-height: 10vh;

  filter: blur(0px);
  -webkit-filter: blur(0px);

}

